librosa==0.10.1
moviepy==1.0.3
numpy==1.24.4
pandas==2.1.0
pytorch-lightning==2.2.4
pytorch-transformers==1.2.0
pytorch-warmup==0.1.1
pytorchvideo==0.1.5
scikit-base==0.6.2
scikit-learn==1.3.0
scipy==1.11.2
soundfile==0.12.1
timm==0.9.7
torch==2.0.1
torchaudio==2.0.2
torchmetrics==1.4.0
torchvision==0.15.2
tqdm
transformers==4.34.1

